body {
	background-color: LightGray;
	margin: 0px;
}

div {
	border: 1px solid Chocolate;
}

/* Navigation Section */

.top-navigation {
	background-color: #FFF;
}

.top-navigation .logo {
	margin-left: 14px;
}

.top-navigation > .content {
	width: 760px;
	height: 70px;
	margin: 0 auto;
	}

.top-navigation .links li{
	float: right;
	display:inline-block;
	margin: 10px 16px;
}



